/NXP_Integration/.metadata
/NXP_Integration/FireArrowDrive - 副本
/NXP_Integration/FireArrowDrive/FLASH
/NXP_Integration/FireArrowDrive/lin_cfg/RocketPython_Main_20230628_1622
/NXP_Integration/S12ZVMxHCEVB_SW_lin0
/RemoteLaunch
/RemoteSystemsTempFiles
/.metadata
/NXP_Integration/RemoteLaunch
/NXP_Integration/RemoteSystemsTempFiles
/NXP_Integration/RemoteLaunch/results/*.log
/NXP_Integration/FireArrowDrive/bootloader/RocketPython_Main_20231123
